* {
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3 {
  font-weight: 700;
}

div .alert {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.heading {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 700;
}

textarea.form-control {
  font-size: 22px;
}

#triggered {
  margin-top: 15px;
  margin-bottom: 15px;
}

.copyright {
  margin-top: 50px;
}
